@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


.App {
  width: 100%;
  
}
h1,h3{
  margin: 0px;
}
.startDisplay{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  text-align: center;
  border-radius: 10%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 20%;
  background-color: rgb(221, 221, 221);
  border: 3px groove black;
  font-size: 1.3vw;
  font-family: Poppins;
 
  
}
.start{
  height: 50px;
  width: 20%;
  border-radius: 2%;
  border: 1px solid black;
  background-color: rgb(223, 223, 223);
}
input{
  width: 90%;
}
button{
  background-color: rgb(34, 131, 34);
  border: 2px groove rgb(145, 145, 250);
  height: 40px;
  font-weight: bold;
  color: black;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
input{
  height: 30px;
  font-size: 20px;
}

.list{
  padding: 25px;
  width: 150px;
  border: 1px groove purple;
  position: fixed;
  background-color: rgb(70, 68, 99);
  cursor: pointer;
  border-radius: 10px;
}
.list div{
  height: 25px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}
.list div:hover{
  background-color: rgb(64, 51, 121);
}
.circle{
  width: 100px;
  height: 100px;
  border: 5px solid rgb(43, 219, 117);
  position: fixed;
  border-radius: 50%;
  animation-duration: 0.5s;
  animation-name: slidein;
}
@keyframes slidein {
    from {
      width:0px;
      height: 0px;
    }
    to {
      border: 5px solid rgb(43, 219, 117);
      height: 100px;
      width:100px;
    }
  

}

.header{
  position:fixed;
  width: 100%;
  
  background-color: rgba(0,0,255,0.5);
}
.imageContainer{
  height: 100%;
 
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 40%;
  padding: 15px;
  
 
}
.imageContainer div img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  transition: all 0.5s;
}

.imageContainer div img:hover{
  width: 130px;
  height: 130px;
  cursor: pointer;

}
.timer{
  position: relative;
  height: 100%;
  float: left;
  top: 25px;
  border-radius: 15%;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  width: 10%;
  padding: 15px;
  
  border: 2px solid black;
}


.y{
  position: absolute;
  height: 200px;
  width: 200px;
  right: 50px;
}
.u{
  bottom: 50px;
}
.l{
  height: 200px;
  width: 200px;
  
}
.miss{
  position: fixed;
  bottom: -40px;
  height: 30px;
  width: 200px;
}
.miss-active{
  position: fixed;
  bottom: -50px;
  width: 200px;
  animation: 3.0s ease slideIn;
  background-color: rgb(10, 4, 41);
  color: aliceblue;
  border: 1px groove purple;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  box-shadow: 3px 3px 3px #333333;
}
@keyframes slideIn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(0px);
  }
}
.ranking{
  width: 90%;
  background-color: red;
}
.ranking{
  padding: 15px;
  font-size: 25px;
}
.left{
  float: left;
  margin-right: 10px;

}
.score{
  float: right;
  
}