@import url('https://fonts.googleapis.com/css?family=Encode+Sans+SC&display=swap');

.App {
  width: 100%;
}

h1,h3{
  margin: 0px;
}

.startDisplay{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  text-align: center;
  border-radius: 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 70%;
  color: white;
  background-color: rgb(47, 29, 70);
  border: 3px groove black;
  font-size: 1.3vw;
  font-family: "Encode Sans SC";
  
}

a{
  color: rgb(43, 110, 255);
}

a:hover{
  color: rgb(199, 0, 199);
}

input{
  width: 70%;
  height: 30px;
  font-size: 20px;
}

button{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.selectionList{
  position: fixed;
  padding: 25px;
  width: 150px;
  background-color: rgb(70, 68, 99);
  cursor: pointer;
  border-radius: 5px;
}

.selectionList div{
  height: 25px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
}

.selectionList div:hover{
  background-color: rgb(64, 51, 121);
}

.circle{
  width: 100px;
  height: 100px;
  border: 5px solid rgb(43, 219, 117);
  position: fixed;
  border-radius: 50%;
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
    from {
      width:0px;
      height: 0px;
    }
    to {
      border: 5px solid rgb(43, 219, 117);
      height: 100px;
      width:100px;
    }
}

.header{
  position:fixed;
  width: 100%;
  background-color: rgba(0,0,255,0.3);
}

.imageContainer{
  height: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 40%;
  padding: 15px;
}

.imageContainer div img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  transition: all 0.5s;
}

.imageContainer div img:hover{
  width: 150px;
  height: 150px;
  cursor: pointer;
}

.holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.holder p{
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(207, 207, 207);
}

.timer{
  position: relative;
  height: 100%;
  float: left;
  top: 25px;
  border-radius: 15%;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  width: 10%;
  padding: 15px;
  border: 3px solid black;
}

.timer:hover{
  background-color: rgba(62, 62, 150, 0.9);
}

.miss{
  position: fixed;
  bottom: -40px;
  height: 30px;
  width: 200px;
}

.miss-active{
  position: fixed;
  bottom: -50px;
  width: 200px;
  animation: 3.0s ease slideIn;
  background-color: rgb(10, 4, 41);
  color: aliceblue;
  border: 1px groove purple;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  box-shadow: 3px 3px 3px #333333;
}

@keyframes slideIn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-90px);
  }
  100% {
    transform: translateY(0px);
  }
}

.leaderDisplay{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  color: white;
  border-radius: 2%;
  max-height: 500px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  width: 40%;
  background-color: rgb(47, 29, 70);
  border: 3px groove black;
  font-size: 1.3vw;
  font-family: "Encode Sans SC";
  overflow: scroll;
}

.ranking{
  padding: 10px;
  font-size: 20px;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(136 129 180);
}
.left{
  float: left;
  margin-right: 10px;
}
.score{
  float: right;
  
}
.levelContainer{
  height: 30px;
}
.levelContainer div{
  float: left;
}
.img{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.levelImg{
  display: flex;
  overflow: hidden;
  height: 350px;
  flex-direction: column;
  align-items: center;
}

.levelImg button:hover{
  background-color: rgb(109, 108, 108);
  border: 0px;
}